<style>
  div{
    padding: 5%;
    background: linear-gradient(45deg, #bee9fe, #fffbd7);
  }
</style>
<font size="4em" face="Georgia">
<div> 
<b>Name: </b> Prajakta Ghorpade <br><br>

<b>Registration Number:</b> 201800541 <br><br>

<b>Email:</b> <a href="mailto: prajakta_201800541@smit.smu.edu.in "> prajakta_201800541@smit.smu.edu.in </a> <br><br>

<b>Short Bio:</b> 
<p> 
  My name is Prajakta Ghorpade and I am born and brought in the city of chaos, Mumbai. I studied till class 10<sup>th</sup> ICSE, in 
  '<a href="https://ppsbhandup.com/">Pawar Public School</a>', Bhandup(West). Further, I continued
  my 11<sup>th</sup> and 12<sup>th</sup> grade in <i>'I.D.U.B.S.'</i>. At the age of 17, I escaped 
  from the high towers of city to the flora, fauna and mountains of Sikkim. As much as I enjoy travelling, 
  I have come here to study in a prestigious college; 
  '<a href="https://smu.edu.in/smit.html">Sikkim Manipal Institute of Technology</a>'. 
  I am presently doing a Bachelor of Technology (B.Tech.) degree in Computer Science and Engineering.  
  As a computer enthusiat, I am glad to be persuing my passion. 
</p>
</div>
</font>
